* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

#main {
    border: 2px solid red;
    height: 500px;
    width: 50%;
    margin: 0 auto;
    display: flex;
}

.row {
    height: 100%;
    width: 100%;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
}


.box {
    height: 100%;
    width: 100%;
    border: solid 2px blue;
    display: flex;
}